@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #1D1D1F;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

@keyframes morphing {
    0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%
    }

    4% {
        border-radius: 50% 50% 50% 38% / 43% 55% 50% 50%
    }

    8% {
        border-radius: 77% 50% 50% 38% / 33% 70% 50% 50%
    }

    12% {
        border-radius: 77% 50% 63% 17% / 18% 91% 50% 50%
    }

    16% {
        border-radius: 100% 27% 63% 57% / 0% 91% 41% 50%
    }

    20% {
        border-radius: 100% 27% 63% 57% / 48% 44% 41% 26%
    }

    24% {
        border-radius: 100% 0% 88% 57% / 50% 44% 10% 26%
    }

    28% {
        border-radius: 30% 61% 88% 0% / 50% 72% 55% 80%
    }

    32% {
        border-radius: 30% 61% 88% 48% / 50% 72% 55% 80%
    }

    36% {
        border-radius: 79% 36% 88% 99% / 34% 59% 61% 59%
    }

    40% {
        border-radius: 79% 36% 56% 100% / 34% 57% 76% 59%
    }

    44% {
        border-radius: 98% 53% 55% 39% / 58% 72% 85% 100%
    }

    48% {
        border-radius: 94% 84% 89% 35% / 92% 83% 97% 100%
    }

    52% {
        border-radius: 61% 53% 54% 99% / 97% 83% 54% 60%
    }

    56% {
        border-radius: 61% 53% 54% 22% / 97% 12% 34% 60%
    }

    60% {
        border-radius: 22% 81% 54% 66% / 56% 52% 6% 60%
    }

    64% {
        border-radius: 44% 81% 54% 66% / 37% 52% 29% 32%
    }

    68% {
        border-radius: 80% 81% 54% 66% / 61% 37% 29% 32%
    }

    72% {
        border-radius: 100% 81% 100% 74% / 73% 37% 96% 80%
    }

    76% {
        border-radius: 100% 85% 100% 32% / 43% 68% 96% 80%
    }

    80% {
        border-radius: 12% 12% 100% 32% / 100% 100% 86% 100%
    }

    84% {
        border-radius: 0% 0% 100% 32% / 100% 100% 51% 100%
    }

    88% {
        border-radius: 0% 0% 100% 0% / 100% 100% 0% 100%
    }

    92% {
        border-radius: 45% 38% 72% 42% / 77% 50% 32% 62%
    }

    96% {
        border-radius: 45% 38% 50% 50% / 65% 50% 50% 62%
    }

    100% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%
    }
}

#blob {
    background-color: white;
    height: 35vmax;
    aspect-ratio: 1;
    z-index: 0;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(to right, rgb(255, 210, 127), mediumpurple);
    animation: morphing 50s infinite;
    opacity: 0.8;
}

#blur {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    backdrop-filter: blur(8vmax);
}

#page1 {
    position: relative;
    z-index: 2;
    height: 10vh;
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

    #page1 input {
        height: 5rem;
        width: 50rem;
        padding: 2rem;
        font-size: 2rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 30rem;
        color: white;
    }

        #page1 input::placeholder {
            color: white;
        }

#page2 {
    z-index: 2;
    min-height: 80vh;
    padding-top: 10rem;
    display: flex;
    width: 100%;
}

    #page2 #cards:hover > .card::after {
        opacity: 1;
    }

    #page2 .card {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        height: 200px;
        flex-direction: column;
        position: relative;
        width: 300px;
    }

        #page2 .card:hover:before {
            opacity: 1;
        }

        #page2 .card > .card-content > .brandName {
            font-size: 1.5rem;
            font-weight: 400;
        }

        #page2 .card:before {
            background: linear-gradient( 180deg, transparent 5%, #c9b7b2 100% );
            border-radius: inherit;
            content: "";
            inset: 0px;
            opacity: 0;
            position: absolute;
            transition: opacity 400ms;
            z-index: 0;
        }

        #page2 .card > .card-content {
            background-color: var(--card-color);
            border-radius: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            flex-grow: 1;
            inset: 1px;
            padding: 20px;
            position: absolute;
            z-index: 3;
        }

h1, h2, h3, h4, span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
}

#page2 .flex {
    display: flex;
    flex-wrap: wrap;
}

#page2 .col-lg-2 {
    display: flex;
}

#page3 {
    z-index: 2;
    background-color: transparent;
}

    #page3 .footer {
        color: white;
        padding-top: 1rem;
        background-color: transparent;
        text-align: center;
    }

.line {
    width: 100%;
    height: 1px; /* Adjust the height of the line */
    background-color: rgb(255, 255, 255); /* Adjust the color of the line */
}

#page3 .footer .share a {
    line-height: 4rem;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

#page3 .footer .share #facebook:hover {
    color: #5369b7;
}

#page3 .footer .share #twitter:hover {
    color: rgba(255, 255, 255, 0.77);
}

#page3 .footer .share #instagram:hover {
    color: rgb(153, 98, 153);
}

#page3 .footer .share #linkedin:hover {
    color: #869cea;
}

#page3 .footer .share #pinterest:hover {
    color: rgb(227, 67, 67);
}

#page3 .footer .credit {
    color: rgba(255, 255, 255, 0.668);
    padding-top: 1rem;
}

    #page3 .footer .credit span {
        color: #4f6ede;
    }
